body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background: #b6dcdd;
}


.sidebar {
  width: 220px;
  background: #f5f7fa;
  height: 100vh;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  margin-left: 240px;
  padding: 20px;
}
